<div class="col-md-4 col-sm-4" *ngFor="let item of i18nInfo;let i = index">
  <div class="blocks">
    <!-- First block-->
    <div class="block-content">
      <div class="block-title ">{{item.title}}</div>
      <div class="block-desc">{{item.content}}</div>
    </div>
    <div class="ro-img hidden-xs" *ngIf="i<i18nInfo.length-1">
      <img class="chevron_right" src="../../../assets/images/ic_chevron_right.png"/>
    </div>
  </div>
</div>


<!--<div class="col-md-4 col-sm-4">-->
<!--<div class="blocks">-->
<!--&lt;!&ndash; First block&ndash;&gt;-->
<!--<div class="block-content">-->
<!--<div class="block-title">Yêu cầu</div>-->
<!--<div class="block-desc">Chọn địa điểm tham quan. Sau đó chọn các thông tin thêm như Số người trong chuyến đi, Ngôn ngữ, Thời gian tham quan ước tính. KUN sẽ ước tính chi phí và nhấn Đặt, Hướng dẫn viên sẽ liên hệ với bạn ngay khi nhận được yêu cầu-->
<!--</div>-->
<!--</div>-->
<!--<div class="ro-img hidden-xs" >-->
<!--<img class="chevron_right" src="../../../assets/images/ic_chevron_right.png"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-4 col-sm-4">-->
<!--<div class="blocks">-->
<!--<div class="block-content pdt-sm-50">-->
<!--<div class="block-title">Hướng dẫn viên đến gặp bạn</div>-->
<!--<div class="block-desc">Hướng dẫn viên sẽ đến chỗ bạn. Bạn sẽ nhìn thấy thông tin liên hệ của hướng dẫn viên đến đón bạn. Hãy sẵn sàng cho chuyến tham qua thú vị của bạn.-->
<!--</div>-->
<!--</div>-->

<!--<div class="ro-img hidden-xs" style="top: 50%">-->
<!--<img class="chevron_right" src="../../../assets/images/ic_chevron_right.png"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<div class="col-md-4 col-sm-4">-->
<!--<div class="blocks">-->
<!--<div class="block-content pdt-sm-90">-->
<!--<div class="block-title">Thanh toán và tham quan</div>-->
<!--<div class="block-desc">Đánh giá và xếp hạng hướng dẫn viên của bạn khi kết thúc chuyến tham quan. Chi phí sẽ tự động được trừ trong thẻ tín dụng sẵn có.-->
<!--Trải nghiêm dịch vụ và tích lỹ sự hiểu biết.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
