<div style="background-color: #000" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 hidden-xs hidden-sm">
        <a href="home.xhtml">
          <img class="foot-logo-size" src="../../../assets/images/ic_logo.png" alt="Logo"/>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="">
          <div class="top-20">
            <div class="navbar-lag">
              <ul>
                <li><a href="#">.TRANG CHỦ</a></li>
                <li><a href="#">.ĐỐI TÁC</a></li>
                <li><a href="#">.THÀNH PHỐ</a></li>
              </ul>
            </div>
            <div class="nav-infor">
              <ul>
                <li><a href="#">VỀ CHÚNG TÔI</a></li>
                <li><a href="#">TRỢ GIÚP</a></li>
                <li><a href="#">TUYỂN DỤNG</a></li>
                <li><a href="#">BLOG</a></li>
              </ul>
            </div>

            <div class="text-center top-20">
              <form>
                <select style="padding: 5px 15px" >
                   <option value="English" >English</option>
                   <option value="vi" > Việt Nam</option>
                </select>
              </form>
            </div>
          </div>
        </div>


      </div>
      <div class="col-md-4 col-sm-6">
        <button class="btn-foot-signup btn-menu btn-action">Đăng ký</button>
        <div class="foot-follow">
          <a href="#"><img class="btn-bct" src="../../../assets/images/ic_bo_cong_thuong.png" alt="Bo Cong Thuong"/></a>
          <a href="#"><img class="btn-follow" src="../../../assets/images/ic_facebook.png" alt="Facebook"/></a>
          <a href="#"><img class="btn-follow" src="../../../assets/images/ic_instagram.png" alt="Instagram"/></a>
        </div>
        <div class="foot-app-store">
          <a href="#"><img class="btn-store mgt-10 mgb-10 pdr-10" src="../../../assets/images/ic_apple_store.png" alt="Apple Store"/></a>
          <a href="#"><img class="btn-store mgb-10 mgt-10" src="../../../assets/images/ic_google_store.png"
                           alt="Google Store"/></a>
        </div>
      </div>
    </div>
  </div>
</div>
