#footer{
    text-align: center;
}
#footer ul{
    padding:0;
}

#footer ul li {
    display: inline-block;
    font-size: 18px;
    padding:10px 5px;

}
#footer ul li a{
    color: #ffffff !important;
}
#footer .nav-infor ul li{
    font-size: 12px;
}