#header{
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

#header .ro-left img{
    max-height: 100px;
}

.button-menu {
    background-color: #0b7759;
}
.button-menu:hover{
    background-color: #94DBF6;
}

.nav-wrapper{
    display: table;
    width: 100%;
}
.nav-wrapper .ro-left, .nav-wrapper .ro-right,.toggle-menu{
    display: table-cell;
    vertical-align: middle;
}
.ro-left {
    /*float: left;*/
    width: 700px;
}

.toggle-menu{
    cursor: pointer;
    display: none;
}
.toggle-menu span{
    display: block;
    width: 30px;
    border-top: 2px solid #ffffff;
}
.toggle-menu span:after ,.toggle-menu span:before{
    content: "";
    width: 30px;
    border-top: 2px solid #ffffff;
    display: inline-block;
    margin-top: 5px;
}

.menu-tab{
    width: 90vw;
    height: 100vh;
    transition: 0.3s ease-in-out;
    transform: translateX(-100vw);
    background-color: #eeeeee;
    display: none;
    z-index: 5555;
}
.menu-tab ul{
    padding: 0;
}
.menu-default ul li {
   font-size: 0;
}

.menu-default ul li a {
    padding:10px 25px;
    border-top:1px solid   #d4e1f5;
    font-size: 15px;
    display: block;
    color: #000000;
    transition: 0.3s ease-in-out;
}
.menu-default ul li a:hover{
    background-color: #02735f;
}

.tf-0{
    transform: translateX(0px);
}

@media (max-width: 1199px) {
    .ro-right .button-menu:first-child {
        margin-bottom: 12px;
    }
}

@media (max-width: 767px) {
    .toggle-menu{
        display: table-cell;
    }
    .menu-tab{
        display: block;
        position: absolute;
    }
    .ro-left{
        text-align: center;
    }
    .ro-right .button-default {
        font-size: 12px;
        min-width: 120px;
    }
}