<div class="container">
  <div class="row">
    <div app-slider-bar-one></div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <!---->
      <div class="row">
        <div class="col-md-8 col-xs-12 ">
          <div class="title border-none pdt-20 fs-30" style="width: 100%">
            <div>Chuyến tham quan ý nghĩa</div>
          </div>
          <div class="desc">Hãy nói về những trải nghiệm ý nghĩa sau mỗi chuyến đi
          </div>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm text-center">
          <a href="#"><img
            style="width: 120px; height: 120px; margin-left:auto;margin-right:auto; margin-top: 20px"
            src="../../../assets/images/ic_logo.png" alt="Logo"/></a>
        </div>
      </div>
      <!---->
      <div class="content" id="right">
        <div class="body-content ">
          <div class="row">
            <!---->
            <div class="col-xs-12">
              <div class="feature pdb-20">
                <div class="block-title">Sự cam kết</div>
                <div class="block-desc">KUN luôn làm hết sức mình đảm bảo chuyến đi của bạn có ý nghĩa nhất. Bạn sẽ tham quan và hiểu rõ nhất về những nơi bạn đã ghé thăm trong chuyến đi. Thay vì trờ về nhà và nói về những bực bội, khó chịu, bạn sẽ nói về những trải nghiệm, kỷ niệm và đặc biệt là sự hiểu biết về các điểm ghé thăm trong chuyến đi tốt đẹp vừa qua.</div>
              </div>

              <div class="feature-title ">Trước chuyến tham quan</div>

              <div class="feature" style="margin-top: 10px">
                <div class="feature-desc"><b>1. Đón khách an toàn:</b> Ứng dụng KUN sẽ cho phép bạn và hướng dẫn viên biết được vị trí của nhau. Hướng dẫn viên sẽ đến nơi đón bạn. Bạn sẽ thấy sự di chuyển của hướng dẫn viên và đợi họ đến.</div>
                <div class="feature-desc"><b>2. Phục vụ công bằng:</b> Ứng dụng sẽ lựa chọn hướng dẫn viên gần nhất ngẫu nhiên theo sự yêu cầu của bạn đảm bảo sự chờ đợi của bạn rút ngắn tối đa. Không có sự phân biệt giới tính, chủng tộc và nhan sắc.</div>
                <div class="feature-desc"><b>3. Hồ sơ hướng dẫn viên:</b> Mỗi hướng dẫn viên sẽ có một hồ sơ cá nhân có đầy đủ thông tin liên hệ, ảnh và xếp hạng, đánh giá về họ trong các chuyến tham quan trước đó. Bạn có thể tham khảo ưu điểm của hướng dẫn viên để chuyến đi tốt đẹp, ý nghĩa hơn.</div>
              </div>

              <div class="feature-title pdt-30 ">Trong chuyến tham quan</div>

              <div class="feature" style="margin-top: 10px">
                <div class="feature-desc"><b>1. Hướng dẫn viên chuyên nghiệp:</b> Hướng dẫn viên là đối tác quan trọng của KUN. Họ có kinh nghiệm trong nghề nghiệp mà họ gắn bó. Hướng dẫn viên sẵn sàng giải đáp các thắc mắc của bạn. Hãy xem họ là người đồng hành cho chuyến tham quan của bạn và hành xử lịch sự khi họ đang làm việc.</div>
                <div class="feature-desc"><b>2. Thương hiệu:</b> Bạn luôn dễ dàng nhận ra các hướng dẫn viên là đối tác của KUN. Hướng dẫn viên sẽ mang huy hiệu mà KUN cung cấp. Chỉ những đối tác đang hợp tác cùng KUN mới nhận được huy hiệu này. Huy hiệu này sẽ đúng với huy hiệu bạn thấy trong hồ sợ hướng dẫn viên.</div>
              </div>



              <div class="feature-title pdt-30">Sau chuyến tham quan</div>

              <div class="feature" style="margin-top: 10px">
                <div class="feature-desc"><b>1. Đánh giá, xếp hạng ẩn danh:</b> Sau mỗi chuyến tham quan, bạn sẽ đánh giá và xếp hạng hướng dẫn viên đã phục vụ bạn. Chúng tôi xem xét mọi phản hồi vì mục tiêu của chúng tôi là tạo ra các chuyến tham quan tuyệt vời. Thông tin của bạn rất có giá trị để cải thiện dịch vụ và các chuyến đi tiếp theo sẽ luôn tốt hơn.</div>
                <div class="feature-desc"><b>2. Hỗ trợ:</b> Nếu bạn có bất cứ thắc mặc hoặc câu hỏi nào, hãy luôn thông báo cho chúng tôi qua tính năng trợ giúp trong ứng dụng. Mọi phản hồi của chúng tôi sẽ xử lý trong thời gian nhanh nhất, đảm bảo công bằng cho mọi người.</div>
                <div class="feature-desc"><b>3. Phản ứng nhanh:</b> Trong Ứng dụng KUN có những thông tin quan trọng trong trường hợp cần kíp có thể giúp bạn.</div>
              </div>

            </div>

            <!---->
            <div class="col-xs-12">
              <div class="col-md-7 pdl-i-0 col-sm-7 pdt-20 " style="padding-left: 0;">
                <div class="">
                  <div class="title  border-none fs-30" style="width: 100%">Bắt đầu sử dụng</div>
                  <button class="btn-foot-signup btn-menu btn-action">Đăng kí </button>
                </div>
              </div>
              <div class="col-md-5 pdl-i-0 co-sm-5 pdt-20 pdb-20" style="padding-left: 0;">
                <div class="block-content" style="padding:0">
                  <div class="block-title">Chuyến đi an toàn hơn</div>
                  <div class="block-desc">Những lời khuyên về sự an toàn cho khách du lịch trong suốt chuyến đi.Hãy luôn đảm bảo an toàn cho bản thân trong chuyến đi</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>

  </div>
</div>
