<div class="col-md-3 col-sm-3 col-xs-12">
  <div class="content" id="left">
    <div class="navigation pull-left pdt-20">

      <div class="text text-right">
        <a> Bắt đầu chuyến đi<br/>với KUN
        </a>
        <div class="panel">
          <span class="text-go color-blue">ĐI!</span> <br/>
          <button class=" btn-submit btn-signup mgb-10">ĐĂNG KÝ</button>
        </div>
      </div>
      <div app-slide-bar-menu></div>
      <div class="text-center menu-item-term hidden-xs hidden-sm ">
        <a href="#">Thông tin pháp lý</a>
      </div>

    </div>
  </div>
</div>
