<div class="hidden-xs ">
  <ul class="menu-item-list text-left ">
    <!--<li class="menu-item"><a routerLink="/how-it-work">Cách thức hoạt động</a></li>-->
    <!--<li class="menu-item"><a routerLink="/safety">An toàn</a></li>-->
    <!--<li class="menu-item"><a routerLink="/meanging">Ý nghĩa</a></li>-->
    <!--<li class="menu-item"><a routerLink="/cities">Thành phố</a></li>-->
    <!--<li class="menu-item"><a routerLink="/help">Trợ giúp</a></li>-->
    <!--<li class="menu-item"><a routerLink="/service">Dịch vụ</a></li> -->
    <li class="menu-item"><a routerLink="/how-it-work">{{"one" | i18nSelect: i18nMenu}}</a></li>
    <li class="menu-item"><a routerLink="/safety">{{"two" | i18nSelect: i18nMenu}}</a></li>
    <li class="menu-item"><a routerLink="/meanging">{{"three" | i18nSelect: i18nMenu}}</a></li>
    <li class="menu-item"><a routerLink="/cities">{{"four" | i18nSelect: i18nMenu}}</a></li>
    <li class="menu-item"><a routerLink="/help">{{"five" | i18nSelect: i18nMenu}}</a></li>
    <li class="menu-item"><a routerLink="/service">{{"six" | i18nSelect: i18nMenu}}</a></li>
  </ul>
</div>
